{% extends "layout.html" %}
{% block title %}Karl Rosaen{% endblock %}
{% block body %}
    <p>
        Hey, I'm Karl.
    </p>

    <p>
        I originally created this site to track my <a href="{{ '/ml' | url }}">machine learning studies</a>
        this past summer, and continue to maintain a list of resources for studying machine learning that
        may be of interest to others.
    </p>

    <p>
        I'm currently a senior research engineer at
        <a href="http://robots.engin.umich.edu/Projects/NGV">Next Generation Vehicle Lab<a/>
        (now lead by <a href="http://droplab.engin.umich.edu/">these guys</a>)
        at the University of Michigan.
    </p>

    <p>
        You can read more about me
        <a href="{{ '/about' | url }}">here</a>
        if you like, and find me on
        <a href="http://twitter.com/krosaen">Twitter</a>,
        <a href="http://github.com/krosaen">Github</a>,
        <a href="http://instagram.com/krosaen">Instagram</a>,
        <a href="https://food52.com/users/43983-karl-rosaen">Food52</a>,
        and <a href="https://www.linkedin.com/in/karlrosaen">LinkedIn</a>.
    </p>

    <h3>Latest Posts</h3>
    <ul>
        {% for article in this.children %}
            <li><a href="{{ article | url }}">{{ article.title }}</a></li>
        {% endfor %}

    </ul>
    <p>
        <a class='atom-link' href="{{ '@atom/blog'|url }}">
            <img src="{{ '/static/feed-icon-28x28.png' | asseturl }}" width="14px">
            Atom Feed
        </a>
    </p>

{% endblock %}
