{% extends "layout.html" %}
{% block title %}Karl Rosaen{% endblock %}
{% block body %}
    <p>
        Hey, I'm Karl.
    </p>

    <p>
        I originally created this site to 
        <a href="{{ '/ml/learning-log' }}">track my machine learning studies<a>
        during the summer of 2016, and continue to maintain
        <a href="{{ '/ml' | url }}">a guide</a>
        for studying machine learning that may be of interest to others.
    </p>

    <p>
       I'm a senior engineer on the SLAM (simultaneous localization and mapping) team at <a href="https://tri.global">Toyota Research Institute</a>.

    </p>

    <p>
        You can read more about me
        <a href="{{ '/about' | url }}">here</a>
        and find me on
        <a href="http://twitter.com/krosaen">Twitter</a>,
        <a href="http://github.com/krosaen">Github</a>,
        <a href="http://instagram.com/krosaen">Instagram</a>,
        <a href="https://food52.com/users/43983-karl-rosaen">Food52</a>,
        and <a href="https://www.linkedin.com/in/karlrosaen">LinkedIn</a>.
    </p>

    <h3>Highlighted content</h3>
    <ul>
        <li><a href="/ml/notebooks/em-coin-flips/">Expectation Maximization with Coin Flips</a></li>
        {% for article in this.children %}
            <li><a href="{{ article | url }}">{{ article.title }}</a></li>
        {% endfor %}

    </ul>
    <p>
        <a class='atom-link' href="{{ '@atom/blog'|url }}">
            <img src="{{ '/static/feed-icon-28x28.png' | asseturl }}" width="14px">
            Atom Feed
        </a>
    </p>

{% endblock %}
