{% extends "layout.html" %}
{% block title %}{{ this.pub_date }} | {{ this.summary }} | ML Learning Log{% endblock %}
{% set notebook_fname = "" + this._id + ".ipynb" %}
{% set notebook_attachment = this.attachments.get(notebook_fname) %}
{% block extra_styles %}
    {% if notebook_attachment %}
        <link rel="stylesheet" href="{{ '/static/notebook.css'|asseturl }}">
    {% endif %}
{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ '/ml' | url }}">ML Study</a></li>
        <li><a href="{{ '/ml/learning-log' | url }}">Learning Log</a></li>
        <li class="active">{{ this.pub_date }}</li>
    </ol>
{% endblock %}
{% block body %}
    {% set siblings = this.get_siblings() %}
    {% set older = siblings.next_page %}
    {% set newer = siblings.prev_page %}
    <div class="prev-next">
    {% if older %}
        <div class="nav-prev">
            <a href="{{ older|url }}">previous</a>
        </div>
    {% endif %}
    {% if newer %}
        <div class="nav-next">
            <a href="{{ newer|url }}">next</a>
        </div>
    {% endif %}
    <br>
    </div>


    <p class="ll-summary">{{ this.summary }}</p>
    <h2>{{ this.title }}</h2>
    {% if notebook_attachment %}
        {# This is an ipython notebook post #}
        {% set notebook_rendered_template = "rendered-notebooks/" + this._id + ".html" %}
        {% include notebook_rendered_template %}
    {% else %}
        {# Regular markdown post #}
        {{ this.body }}
    {% endif %}
{% endblock %}

{% block extra_scripts %}
{% endblock %}
