{% extends "layout.html" %}
{% block title %}Machine Learning Curriculum{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="active">ML Study</li>
    </ol>
{% endblock %}
{% block body %}

    <p>
        I recently <a href="{{ '/learning-sabbatical' | url }}">embarked on a learning sabbatical</a>
        focused on machine learning. Here are resources for you to follow along if you like.
    </p>

    <ul>
        <li><a href="{{ '/ml/learning-log' }}">Learning Log</a>: day to day reflections as I work my way through the
            curriculum
        </li>
        <li><a href="{{ '/ml/hw' }}">Problem Sets</a>: solutions to individual math problems I've worked through.
        </li>
        <li><a href="{{ '/ml/notebooks' }}">Notebooks</a>: Various iPython notebooks that accompany my learning log.
        </li>
        <li><a href="https://github.com/krosaen/ml-study">More IPython Notebooks and Python code</a> on github: less
            worth looking at, but for completeness (e.g my chapter by chapter following along with the Python ML book).
        </li>
    </ul>

    <h2>Curriculum</h2>

    {{ this.curriculum }}

{% endblock %}
