{% extends "layout.html" %}
{% block title %}Machine Learning Curriculum{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="active">ML Study</li>
    </ol>
{% endblock %}
{% block body %}

    <p>
        In the spring of 2016 I <a href="{{ '/learning-sabbatical' | url }}">embarked on a learning sabbatical</a>
        focused on machine learning. After a few months of full-time studying, I
        continue to study while on the job. Here are resources for you to follow along if you like.
    </p>

    <ul>
        <li>
            <a class='atom-link' href="/ml/learning-log/feed.xml"><img src="{{ '/static/feed-icon-28x28.png' | asseturl }}" width="14px"></a>

            <a href="{{ '/ml/learning-log' }}">Learning Log</a>: day to day reflections as I work my way through the
            curriculum (not quite as good about updating this as during full time summer of studying)
        </li>
        <li><a href="{{ '/ml/hw' }}">Problem Sets</a>: solutions to individual math problems I've worked through.
        </li>
        <li><a href="{{ '/ml/notebooks' }}">Notebooks and Kaggle submissions</a>: Various iPython notebooks covering topics in probability
            and ML I write to solidify understanding, perhaps help others. Also some submissions to Kaggle competitions.
        </li>
        <li><a href="https://github.com/krosaen/ml-study">More IPython Notebooks and Python code</a> on github: includes
            chapter by chapter notebooks for Python Machine Learning and various other materials.
        </li>
    </ul>

    {{ this.curriculum }}

{#    {{ this.resources }}#}


{% endblock %}
